@import "__variable";

.gameprovider {
  margin: 100px 0;
  .heading{
    @include heading
    h3{
      color:$black;
      text-align:center;
    }
  }
  .sliders {
    .slick-slide {
      //   width: 200px !important;
      margin: 0px 0px !important;
    }
    img {
      width: 270px !important;
      //   margin: 0px 20px !important;
    }
  }
}
