@import "__variable";

// *************** hedaer
header {
  background-color: $black;
  display: flex;
  justify-content: left;
  z-index: 999;
  align-items: center;
  position: sticky;
  top: 0;
  font-family: $embrima !important;
  .dropdown-menu {
    margin-left: -70px !important;
    a {
      display: flex;
      justify-content: space-between;
      padding: 3px 3px;
      align-items: center;
    }
  }
  .navbar {
    .navbar-brand {
      display: flex;
      align-items: center;
      .barnotification {
        margin-left: 30px;
        button {
          background: transparent;
          // border-radius: 50%;
          border: none;
          i {
            color: #999;
            background: $lightBlack;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;

            font-size: $paraFont;
          }
        }
      }
    }
    width: 100%;
  }
  .navbar-brand {
    img {
      max-width: 150px;
    }
  }
  .navbar-nav {
    display: flex;
    align-items: center;
    margin-left: 60px;
    font-family: $roboto;
    .wallet {
      img {
        display: block;
        margin: 0 auto;
        width: 20px;
      }
      span {
        font-size: $menuFont;
      }
    }
    .dropdown {
      .dropdown-menu {
        background: $lightBlack !important;
        a {
          margin: 0;
          &:hover {
            background: $black;
          }
          i {
            margin-right: 10px;
          }
        }
      }
    }
    img {
      width: 20px;
      margin: 0px 5px;
    }
    a {
      color: #ddd !important;
      text-transform: capitalize;
      margin: 0 6px;
      font-size: $paraFont;
      font-family: $embrima;
      img {
        max-width: 100%;
      }
    }
    button {
      background: transparent;
      border: 2px solid $golden;
      padding: 6px 10px !important;
      min-width: 100px;
      text-transform: capitalize;
      font-size: $paraFont;
      border-radius: 20px;
      color: $white;
      font-weight: $fontWeight;
    }
    .signup {
      background-color: $white;
      color: $black;
    }
    i {
      color: $golden;
    }
  }
}

//****************** bars
.bars-main {
  .modal-dialog {
    margin: 0rem !important;
    .modal-content {
      min-height: 100vh !important;
      border-radius: 0;
      border: none;
      width: 300px;
      background: $black;
      .modal-body {
        background: $lightBlack;
        padding: 30px 60px;
        //lists
        .lists {
          display: flex;
          align-items: flex-start;
          margin: 30px 0;
          &:first-child {
            margin-top: 0;
          }

          img {
            width: 30px;
          }
          a {
            color: $golden;
            font-size: $menuFont;
            border-bottom: 1px solid #999;
            margin-left: 10px;
            padding: 0;
            font-family: $hekouFont;
            display: inline-block;
          }
          //dropdown
          .dropdown-menu {
            background: transparent;
            border: none;
            position: inherit !important;
            margin-top: -10px !important;
            transition: 0.3s;
            a {
              border: none;
              font-family: $roboto;
              padding: 0px !important;
              text-transform: capitalize;
              margin-left: 4px !important;
              &:hover {
                background: transparent;
                color: #999;
              }
              &::after {
                border-bottom-color: $white;
              }
            }
          }
        }
      }
      //user{
      .user {
        text-align: center;
        display: block;
        width: 100%;
        padding: 30px 0;
        img {
          display: block;
          margin: 0 auto;
          margin-bottom: 10px !important;
          width: 60px;
        }
        span {
          color: $white;
          font-size: $paraFont;
        }
      }
    }
  }
}
