@import "__variable";

// *************** hedaer
header {
  background-color: $black;
  display: flex;
  justify-content: left;
  z-index: 999;
  align-items: center;
  position: sticky;
  top: 0;
  .navbar-brand {
    img {
      max-width: 150px;
    }
  }
  .navbar-nav {
    display: flex;
    align-items: center;
    margin-left: 60px;
    font-family: $roboto;
    a {
      color: #ddd !important;
      text-transform: capitalize;
      margin: 0 6px;
      font-size: $menuFont;
      img {
        max-width: 100%;
      }
    }
    button {
      background: transparent;
      border: 2px solid $golden;
      padding: 6px 10px !important;
      min-width: 100px;
      text-transform: capitalize;
      font-size: $paraFont;
      border-radius: 20px;
      color: $white;
      font-weight: $fontWeight;
    }
    .signup {
      background-color: $white;
      color: $black;
    }
    i {
      color: $golden;
    }
  }
}

//login
.login {
  font-family: $roboto;
  .mainFlag {
    display: flex;
    .flag {
      display: flex;
      border: 1px solid #999;
      padding: 10px;
      box-sizing: border-box;
      height: 40px;
      margin-right: 20px;
      select {
        background: transparent;
        border: none;
        color: $white;
        border-bottom: 1px solid #cccc;
        margin-left: 10px;
        outline: none;
        // padding-bottom: 3px;
      }
    }
  }
  // top: -20px;
  .modal-header {
    border-color: #444;
  }
  .login__with {
    .heading {
      text-align: center;
      border-bottom: 1px solid #444;
      position: relative;
      h3 {
        text-transform: capitalize;
        display: inline-block;
        position: absolute;
        left: 0;
        font-size: $menuFont;
        right: 0;
        top: -8px;
        span {
          padding: 0px 20px;
          background: $lightBlack;
          color: $golden;
        }
      }
    }
    padding-bottom: 20px;
    .apis {
      text-align: center;
      margin-top: 40px;
      a {
        margin-top: 10px;
        display: block;
        text-transform: capitalize;
      }
    }
  } // login
  //signup
  .signup {
    border-top: 1px solid #444;
    padding: 20px 0;
    margin-top: 30px;
    text-align: center;
    border-bottom: 1px solid #444;
    img {
      width: 30px;
    }
    p {
      margin: 10px 0 0 0;
      font-size: $paraFont;
      text-transform: capitalize;
    }
    a {
      font-size: $menuFont;
      color: $white;
      text-decoration: underline !important;
      font-size: $hekouFont !important;
      font-size: 19px;
      font-weight: $fontWeight;
      display: block;
      margin-top: 10px;
      text-transform: uppercase;
      &.signin {
        color: $golden;
      }
    }
  }
  .modal-title {
    color: $golden;
    font-size: $headingFont;
    font-family: $hekouFont;
  }
  .modal-content {
    background-color: $lightBlack;
    width: 400px;
    right: -250px;
    color: $white;
  }
  .modal-body {
    padding-bottom: 0;
    margin-bottom: 0;
    form {
      .form-group {
        position: relative;
        margin: 30px 0;
      }
      label {
        display: block;
        font-size: $paraFont;
      }
      input {
        background: transparent;
        border: 1px solid #999;
        padding: 0 0 0 10px;
        outline: none;
        height: 40px;
        // border-radius: 4px;
        width: 100%;
        caret-color: $golden;
        color: $white;
        &::placeholder {
          color: $lightBlack;
          display: none !important;
          font-size: $paraFont;
        }
      }
      button {
        display: block;
        width: 100%;
        background: $golden;
        border: none;
        text-transform: uppercase;
        color: $black;
        font-family: $hekouFont;
        font-family: $headingFont;
        padding: 7px 0;
        border-radius: 4px;
      }
      .forget {
        display: flex;
        justify-content: space-between;
        p {
          display: flex;
          align-items: center;
          text-transform: capitalize;
          font-size: $paraFont;
          &:last-child {
            a {
              color: $golden;
            }
          }
        }
        input {
          margin-right: 5px;
          width: 15px;
        }
      }
    }
  }
}
