@import "__variable";

.home {
  //***** banner

  .carousel-control-next,
  .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;
  }

  .home__banner {
    background: url(../img/hero.jpg) no-repeat center center;
    background-size: cover;
    padding: 0;
    background-color: $lightBlack;
    background-position: center;
  }
  .home__banner_2 {
    background: url(../img/Hero-Banner-vF-2.jpg) no-repeat center center;
    background-size: cover;
    padding: 0;
    background-color: $lightBlack;
    background-position: center;
    .playnow_btn {
      border: 1px solid $golden;
      padding: 10px 45px;
      background-color: transparent;
      color: $golden;
      margin-bottom: 110px;
    }
  }
  .carousel-caption {
    position: absolute;
    right: 5%;
    bottom: 150px;
    left: 5%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
  }

  .slots {
    position: relative;
    top: 40px;
    text-align: left;

    h1 {
      font-size: 56px;
      font-family: $hekouFont;
      font-weight: $fontWeight;
      text-transform: uppercase;
      color: $white !important;
    }
    span {
      color: #999;
      text-transform: capitalize;
      font-size: $headingFont;
    }
    .icons {
      display: flex;
      margin-top: 30px;
    }

    .item {
      margin: 5px 10px;
      display: flex;
      padding: 0px 10px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-width: 100px;
      height: 120px;
      background: rgba(0, 0, 0, 0.651);
      border-radius: 10px;
      &:last-child {
        margin-right: 0;
      }
      &:first-child {
        margin-left: 0;
      }
      img {
        width: 55px;
      }
      span {
        font-size: 11px;
        margin-top: 10px;
        color: #999;
        b {
          color: $white !important;
        }
      }
    }
  }

  // ***** banner end

  // ************** winning
  .winning {
    background: url(../img/winning/backgound.jpg) no-repeat center center;
    padding: 100px 0;
    &#winners {
      background: url("../img/why/background.jpg") no-repeat center center;
      .video {
        position: relative;
        top: 60px;
      }
    }
    .video {
      // background-color: $lightBlack;
      .video_section {
        z-index: 9;
        .video_frame {
          height: 85%;
          width: 100%;
        }
      }
      .content_section {
        background: $lightBlack;
        margin-left: -225px;
        z-index: 0;
        padding-left: 225px;
      }
      @media only screen and (max-width: 700px) {
        .content_section {
          background: $lightBlack;
          margin-left: 0px;
          z-index: 0;
          padding: 30px 15px;
        }
      }
      .video__content {
        padding: 10px 0;
        h3 {
          @include heading;
        }
        span {
          color: $golden;
          font-size: $paraFont;
        }
        p {
          color: #999;
          font-size: $paraFont;
          margin: 20px 0 0 0;
        }
      }
    } // end
    .winnings__days {
      h3 {
        @include heading;
        color: $golden;
      }
      .item {
        display: flex;
        margin: 10px 0;
        img {
          width: 60px;
          object-fit: contain;
          margin-right: 10px;
        }
        span {
          color: $white;
          font-size: $paraFont;
          font-family: $roboto;
          text-transform: capitalize;
        }
        div {
          line-height: 1.2;
        }
        .winning__price {
          span {
            // font-size: $paraFont;
            color: #f9bb22;
            font-family: $hekouFont;
            b {
              color: $white;
              font-weight: inherit !important;
            }
          }
        }
      }
    }
  }
  .whyus {
    .heading {
      h3 {
        @include heading;
        color: $golden;
        text-align: center;
      }
    }
    .img {
      margin-top: 30px;
      .img__in {
        position: relative;
        text-align: center;
        img {
          max-width: 55%;
          margin: 0 auto;
        }
        .title {
          font-family: $roboto;
          border: 1px solid $black;
          text-align: center;
          background: #3b3a39;
          text-transform: capitalize;
          position: relative;
          top: -30px;

          span {
            color: #ddd;
            font-size: 13px;
          }
          h4 {
            color: $white;
            font-size: 13px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
