@import "__variable";
.wallet1 {
  position: relative;
  top: -60px;
  .nav-tabs {
    border: none;
    a {
      border: none;
      background: $lightBlack;
      //   margin: 0px 1px;
      text-transform: capitalize;
      font-size: $menuFont;
      color: $golden;
      padding: 20px 0;
      border-right: 2px solid $black;
      border-radius: 0 !important;
      &:last-child {
        border: none;
      }
      text-align: center;
      font-family: $monteSerrat;
      width: calc(100% / 4);
      &.active {
        background: $black;
        border: none;
        color: $white;
      }
      &:hover {
        border-color: $black;
      }
    } //
  }
  //balance
  .balance {
    display: flex;
    background: #0f0f0f;
    padding: 30px 20px 30px 40px;
    margin: 60px 0;
    align-items: center;

    h3 {
      font-size: $menuFont;
      color: $golden;
      text-transform: capitalize;
      span {
        color: $white;
      }
    }
    button {
      background: $golden;
      padding: 8px 20px;
      margin-left: 60px;
      border: none;
      color: $black;
      text-transform: capitalize;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 20px;
        margin-right: 10px;
      }
    }
  } //balance

  //filter
  .filter {
    margin: 30px 0;
    .row {
      display: flex;
      align-items: center;
    }
    select {
      display: block;
      width: 100%;
      background: transparent;
      height: 40px;
      color: $white;
      padding: 0 0 0 10px;
      outline: none;
    }
    label {
      color: $white;
      font-size: $paraFont;
    }
    .last {
      visibility: hidden;
      display: block;
    }
    button {
      background: transparent;
      height: 40px;
      padding: 0px 30px;
      border: 1px solid $golden;
      color: $white;
      font-size: $paraFont;
      letter-spacing: 1.2px;
    }
  } //filter

  //table
  table {
    margin: 0;
    thead {
      margin-bottom: 20px;
      tr {
        border-top: 1px solid $lightBlack !important;
        border-bottom: 1px solid $lightBlack !important;
        margin-bottom: 30px !important;
      }
      th {
        color: $golden;
        font-size: $paraFont !important;
        font-size: $menuFont;
        border: none;
      }
    } //thead

    tbody {
      tr {
        border-bottom: 1px solid $lightBlack;
        td {
          border: none;
          color: $white;
          text-transform: capitalize;
          font-size: $paraFont !important ;
          &.success {
            font-weight: $fontWeight;
            color: green;
          }
        }
      }
    }
  }

  //deposit{
  .deposit {
    margin: 60px 0;
    //amounts
    .amount {
      label {
        color: $white;
        font-size: $paraFont;
        // margin-right: 10px;
      }
      input {
        height: 40px;
        background: #111;
        border: 1px solid #555;
        outline: none;
        width: 40%;
        caret-color: $golden;
        padding: 0px 0px 0px 10px;
        margin: 0px 10px;
      }
      span {
        color: #8f6e1c;
        font-weight: $fontWeight;
        margin-left: 20px;
        font-family: $hekouFont;
      }
    } // amount

    //upis
    .upis {
      margin-top: 60px;
      display: flex;
      // justify-content: space-between;
      font-family: $roboto;
      .leftupi {
        width: 70%;
        background: $lightBlack;
        .form-group {
          display: flex;
          justify-content: space-between;
          align-items: center;
          &:nth-child(3) {
            align-items: flex-start;
          }
          padding: 20px;
          margin: 0;
          border-bottom: 1px solid #555;
          input,
          select {
            background: #222222;
            color: #999;
            padding: 0 0 0 10px;
            outline: none;
            // border: 1px solid #444;
            border: none;
            width: 100%;
            height: 40px;
            font-size: $paraFont;
            &::placeholder {
              color: #999;
              font-size: $paraFont;
              text-transform: capitalize;
            }
          }
          &.merg {
            padding-bottom: 0 !important;
          }
          &.boreder {
            border: none;
          }
          .checkbox {
            display: flex;
            align-items: center;
            input {
              width: 20px;
              background: $lightBlack !important;
              margin-right: 10px;
            }
            color: $white;
            font-size: $paraFont;
            text-transform: capitalize;
          }
          .debit {
            width: 60%;
            margin: 0 auto;
            &.bank {
              input {
                margin: 10px 0;
                &:first-child {
                  margin-top: 0;
                }
                &:last-child {
                  width: 50%;
                  margin: 0;
                }
              }
            }
            input {
              &:nth-child(2) {
                margin: 10px 0;
              }
            }
            .expiry {
              display: flex;
              input {
                margin: 0 0 0 10px !important;
              }
            }
          }
          .arrow {
            cursor: pointer;
            width: 30px;
          }
        }
        label {
          color: $golden;
          font-size: $paraFont;
          margin: 0;
          text-transform: capitalize;
          width: 25%;
        }
      } //leftupi

      //rightupi
      .rightupi {
        margin-left: 30px;
        width: 30%;
        h3 {
          color: $white;
          font-size: $menuFont;
        }
        .item {
          background: $lightBlack;
          padding: 10px 0;
          text-align: center;
          margin: 50px 0;
          &:last-child {
            margin-bottom: 0;
          }
          img {
            width: 70px;
          }
        }
      } //rightupi
    } //upis
    .proceed {
      // margin: 10px 0;
      text-align: center;
      position: relative;
      img {
        width: 100px;
        position: absolute;
        left: 50%;
        top: 10px;
        transform: translate(-50%, 0);
      }
    }
  } //deposit}
}
