@import "__variable";

.why {
  background: url("../img/why/background.jpg") no-repeat center center;
  padding: 100px 0;
  //tabs
  .tabs {
    //nav
    nav {
      border: none;
      background: linear-gradient($black 20%, $lightBlack 90%);

      a {
        color: #999;
        padding: 20px 10px;
        // margin: 0px 10px;
        text-align: center;
        font-size: $paraFont;
        font-weight: $fontWeight;
        width: calc(100% / 6);
        font-family: $roboto;
        &.active {
          background: $black;
          border: none;
          color: $golden;
        }
        &:hover {
          border: none;
        }
      }
    } //nav
    .images {
      margin-top: 40px;
      text-align: center;
    }
  }
  //why__us
  .why__us {
    .heading {
      @include heading;
      color: $golden;
      padding: 15px 0;
    }

    .img {
      margin-top: 30px;
      .img__in {
        position: relative;
        text-align: center;
        img {
          max-width: 90%;
          margin: 0 auto;
        }
        .title {
          font-family: $roboto;
          border: 1px solid $black;
          text-align: center;
          background: #3b3a39;
          text-transform: capitalize;
          position: relative;
          top: -30px;

          span {
            color: #ddd;
            font-size: 13px;
          }
          h4 {
            color: $white;
            font-size: 13px;
            font-weight: 600;
          }
        }
      }
    }
  } //why__us
}
